.field {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border: solid 1px #ced2ed;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 8px;
  width: 90%;
  margin: 0 auto 25px;
  cursor: auto;
  

  &__title {
    margin-bottom: 70px;
    text-align: center;
  }

  &__input {
    box-sizing: border-box;
    margin: 5px auto;
    display: block;
    width: 45%;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      color: #212529;
      background-color: #fff;
      border-color: #bdbdbd;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
    }
  }

  &__select {
    display: block;
    width: 45%;
    height: 40px;
    margin: 5px auto;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #eee;
    border: 1px solid #bdbdbd;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color .15s ease-in-out;
    
    &:hover {
      background-color: #bdbdbd;
    }
  }
}